html, body, * {
    box-sizing: border-box;
}

html {
    background-color: rgb(20, 20, 20);
}

/* Do a reset of default body settings. */
body {
    padding: 0;
    margin: 0;
    /* height: 100%; */
}

:root {
    --text-color: rgb(241, 246, 247);
}

.app {
    padding: 8px;
    height: 100%;
    color: var(--text-color);
}

.row {
    display: flex;
}


/* Table Styling */

.table input:not(:disabled) {
    box-shadow: none;
    border: 1px solid rgb(146, 146, 146);
}

.table input:disabled {
    border: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));;
}

.table .columns {
    display: flex;
}

.value.insertable input {
    background-color: rgb(191, 201, 202);
    height: 26px;
}